.fav-btn {
  background-color: #50b498;
  border: none;
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

.fav-btn:hover {
  background-color: #2e927b;
  color: #fff;
}
