.submit-btn {
  background-color: #50b498;
  border: none;
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #2e927b;
  color: #fff;
}

form input {
  margin-bottom: 10px;
}

form select {
  margin-bottom: 10px;
}
